<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>

{# --- NAV --- #}
    <section class="Nav">
        <a href="/" class="Logo">
            <img class="IconLogo" src="../static/pet-care.png">
            <p class="TextoNav"><strong>Consultório veterinário</strong></p>
        </a>
        <div class="Rotas">
            <a class="TextoNav" href="/cadastro">Cadastro</a>
            <a class="TextoNav" href="/exibir">Animais Cadastrados</a>
        </div>
    </section>
    {# --- SOBRE --- #}
    <section class="Sobre">
        <div class="Info">
            <h1 class="Title">CONSULTÓRIO VETERINÁRIO</h1>
            <p class="Texto">Oferecemos atendimento completo e personalizado para seu animalzinho, desde consultas de rotina até cirurgias e emergências. Nosso time dedicado garante o melhor cuidado, em um ambiente seguro e acolhedor.</p>
        </div>
        <div class="Imagem">
            <img class="ImgSobre" src="../static/image-removebg-preview%20(2).png">
        </div>
    </section>

    {# --- GALERIA --- #}
    <section class="Galeria">
        <h4 class="TitleG">GALERIA</h4>
        <div class="Galeria">
            <div class="gUm">
                <div><img class="ImagensGaleria" src="../static/1.jpg"></div>
                <div><img class="ImagensGaleria" src="../static/2.jpg"></div>
                <div><img class="ImagensGaleria" src="../static/3.jpg"></div>
            </div>
            <div class="gDois">
                <div><img class="ImagensGaleria" src="../static/4.jpg"></div>
                <div><img class="ImagensGaleria" src="../static/5.jpg"></div>
                <div><img class="ImagensGaleria" src="../static/6.jpg"></div>
            </div>
        </div>
    </section>

    {# --- RODAPÉ- --- #}
    <div class="rodape"></div>
</body>
</html>